header {
  text-align: center;
  font-family: 'Arial Black', 'Times New Roman';
  color: rgb(27, 99, 223);
  font-size: 40px;
  padding-bottom:0px;
  line-height: 100%;
  margin-right: 10px;
}

body {
  background-color: rgb(45, 103, 205);
}

div {
  text-align: left;
  font-family: 'Times New Roman';
  color: black;
  font-size: 20px;
  line-height: 100%;
  margin-right: 0px;
}

.tweetText{
  text-align: left;
  font-family: 'Arial';
  color: black;
  font-size: 16px;
  line-height: 100%;
  margin-right: 0px;
}

.userName{
  text-align: left;
  font-family: 'Arial Black';
  color: white;
  font-size: 20px;
  line-height: 100%;
  margin-right: 0px;
}

.date{
  text-align: left;
  font-family: 'Arial';
  font-style: italic;
  color: gray;
  font-size: 16px;
  line-height: 100%;
  margin-right: 0px;
}

h1 {
  text-align: left;
  font-family: 'Arial', 'Times New Roman' sans-serif;
  color: white;
  font-size: 40px;
}